<form method="POST" action="/rockAmRing/<%= params%>" >
    <button type="button" onClick="addArtist()">Add a new artist id</button>
    <button type="submit">Submit</button>
    <div class="newArtists"></div>

    <div class="checkboxArtists">
        <% for (let i in artists) { %>
        <div class=" row row_<%= i%>">
            <% for (let k in artists[i]) { %>
            <div class="form-check">
                <div class="input-group"
                     data-toggle="tooltip"
                     title="<%= artists[i][k].genres %> <br> <%= artists[i][k].followers%>" >
                    <span class="input-group-addon">
                        <label class="form-check-label">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="artists[]"
                                   value="<%= artists[i][k].id%>"
                                    <% if (selectedArtists.indexOf(artists[i][k].id) !==-1) { %> checked="checked" <%}%>
                            >
                            <%= artists[i][k].name%>
                        </label>
                    </span>
                </div>
            </div>
            <%}%>
        </div>
        <%}%>
    </div>
</form>

<script type="text/javascript">
  var newArtistsCount = 0;
  function addArtist(){
    console.log('newArtistsCount', newArtistsCount);
    let string = '<div class="input-group mb-3"><div class="input-group-prepend"><div class="input-group-text"><input type="checkbox" name="newArtist['+ newArtistsCount;
    string +='][checked]" ></div></div><input name="newArtist[' + newArtistsCount;
    string += '][id]" type="text" class="form-control" placeholder="id"></div>';
    $('.newArtists').append(string);
    newArtistsCount++;
  }

</script>